version: '3.8'
services:
  my-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: database_instance
    ports:
      - "1433:1433"
    networks:
      - my-net
    volumes:
      - sqlserverdata:/var/opt/mssql
    secrets:
      - dbpass
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: /run/secrets/dbpass
    restart: always

  spex:
    build: .
    container_name: spex_instance
    restart: always
    depends_on:
      - my-db
    ports:
      - '2000:2000'
    networks:
      - my-net
    command: sh -c "npx prisma migrate dev --schema=/spex/src/prisma/schema.prisma && node /spex/dist/server.js"

networks:
   my-net:
    driver: bridge

volumes:
  sqlserverdata:

secrets:
  dbpass:
    file: ./secrets/dbpass.txt